/*
	Página Web ementa.css

	By: Rúben Luís Pereira Barbosa Loureiro da Cruz n.º 8634
	Email: a8634@alunos.ipca.pt	IPCA EST LESI
*/

header{
	position: absolute;
	margin-top:0.4%;
	margin-left: 25%;
	margin-right: 25%;
	width: 60%;
}

#imgcoracao{
	float: right;
}

#imglogo{
	margin-top: 1%;
}

nav{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	background-color: #F6F6F8;
	padding: 27px 0px;
}
#nav{
	padding-top: 4.8%;
}


ul, li, a,p{
	margin: 0;
	padding: 0;
	border: 0px none;
	font: inherit;
	vertical-align: baseline;
	display: inline;
	color: #666;
	text-decoration: none;
}

header h1{
	font-size:47px;
}
section div h1{
	color: #333 !important;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

#intro{
	text-align: center;
	color: #999;
	font-family: Arial,serif;
	font-size: 16px;
	font-style: italic;
	margin-top: 1rem;
	font-weight: normal;
	margin-bottom: 0%;
}

#headSection{
	font-size: 35px !important;
	font-weight: bold !important;
	font-family: Arial,sans-serif !important;
	color: #ffffff !important;
	width:60%;

}

#section a {
	color: black !important;
}

#logo1{
	display: inline;
	margin-left: -9%;
	float: left;
	margin-top: -3%;
}

#headerDiv{
	width:100%;
 	line-height: 1px;
}

#subtitle, #subtitle a{
	color: #999;
	font-style: italic;
	margin-top: 0.5rem;
	font-weight:normal;
	font-size: 20px;
}

#subtitle a{
	text-decoration: underline;
}

section{
	padding-left: 20% !important;
	padding-right: 20% !important;
	line-height: 200% !important;
	color: black !important;
	margin-top: 5%;
}

section header{
	position: absolute;
	margin-left: 0%;
}

#text ,p{
	padding-top: 0;
	font-size: 20px;
	color: #565656;
}
#first{
	display: inline-block;
	margin-top: 20%;
}
#second{
	display: inline-block;
    margin-top: 18%;
}
#text h2,#text h3{
	color: black;
}

p a ,p a:hover, #text .lista a{
	color:#565656;
	text-decoration: underline;
}

blockquote{
	font-style: italic;
	border-left: 5px solid #0091DA;
	margin-left: -3%;
	padding-left: 3%;
}
#neg{
	font-weight: bold;
	color: #333 !important;
}

#text ul li {
	margin-bottom: 20px;
	display: block;
	padding-left: 1em; 
  text-indent: -.7em;
}

#text ul li:before {
    content: "• ";
    color: black; 
}

code {
	background-color: #F6F6F8;
	border: 1px solid #DDD;
	border-radius: 3px;
	display: inline-block;
	font-size: 16.8px;
	line-height: 1.5;
	vertical-align: middle;
	white-space: pre-line;
	overflow: auto;
	overflow-y: hidden;
	max-width: 100%;
}

#comment, #comment a:hover{
	color: #999;
	font-style: italic;
	text-decoration: underline;
}

.twitter-share-button{
	float: right;
}

#hire{
	text-align: center;
}

#hire a{
	color: blue;
	text-decoration: underline;
}

#author{
	float: right;
	width: 85%;
}

#foto{
	float: left;
	width: 15%;
	margin-top: 3%;
}

#author h2{
	color: #0091DA;	
}

#information{
	border-top:1px dotted #999;
	height: 55%;
}

#more_info{
	color: #999 !important; 
	font-style: italic !important;
	margin-left: 15.5%;
	margin-top: 2%;
}

#more_info a:hover, #more_info a{
	color: #999 !important; 
	text-decoration: underline;
}

#read_more_posts{
	color: #0091da !important;
	text-decoration: underline;
	font-size: 22px;
	text-align: center;
	margin-top: -20% !important;
}

#rmp{
	color: blue !important;
}

footer{
	text-align: center;
	font-size: 18px;
	color: #FFF;
	background-color: #0091DA;
	padding: 30px 0px;
	margin-bottom: 0px;
	margin-left: -0.6%;
	width: 101.3%;
	height: 6.7%
	z-index:1;
	margin-top: 10%;
}

#navfooter{
	padding-top: 0;
}